/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.wine-logo{
    margin-top: 64px;
}
.payment,.yourOrder{
    font-family: "Segoe UI Symbol";
}
.cursosforCheck{
    cursor: auto;
    font-size: 1rem;
    line-height: 1.6;
}
#sum-prices{
    font-size: 1rem!important;
}
.total-padd{
    font-family: "Segoe UI Symbol";
    padding-right: 0;
}
.buyItem > div{
    padding: 11px 0;
}
#buyItems img{
    width: 11%;
}
#buyItems{
    width: 50%;
}
#buyItems{
    list-style-type: none;
}
.buyItem button {
    background: transparent;
    color: #212529;
    cursor: pointer;
    font-weight: 900;
    font-size: 1.2rem;
    padding: 0 6px;
    border: none;
}
.empty{
    text-align: left;
    font-size: 1rem;
}
.buyItem{
    margin: 48px 0;
}
/* validation */
.was-validated .form-control:invalid:focus, .form-control.is-invalid:focus{
    border-color: #dc3545;
    -webkit-box-shadow: none;
            box-shadow: none;
}
.was-validated .form-control:valid:focus, .form-control.is-valid:focus{
    border-color: #198754;
    -webkit-box-shadow: none;
            box-shadow: none;
}
.btn-primary{
    color: #fff;
}
.btn-primary:active{
    background-color: #4a3c29!important;
    border-color: #4a3c29!important;
    color: #fff!important;
}
.btn-primary:hover, .btn-primary:focus{
    color: #fff;
}
.was-validated .form-control:invalid, .form-control.is-invalid {
    background-image: none;
}
.was-validated .form-select:invalid:not([multiple]):not([size]), .was-validated .form-select:invalid:not([multiple])[size="1"], .form-select.is-invalid:not([multiple]):not([size]), .form-select.is-invalid:not([multiple])[size="1"]{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
}
.was-validated .form-control:valid, .form-control.is-valid{
    background-image: none;
}
.was-validated .form-select:valid:not([multiple]):not([size]), .was-validated .form-select:valid:not([multiple])[size="1"], .form-select.is-valid:not([multiple]):not([size]), .form-select.is-valid:not([multiple])[size="1"]{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
}
/* end of validation */
@media(max-width: 1399px){
    #buyItems img{
        width: 13%;
    }
}
@media(max-width: 1199px){
    #buyItems img{
        width: 16%;
    }
}
@media(max-width: 991px){
    .yourOrderDiv{
        --bs-gutter-x: 1.5rem;
    }
    .yourOrder, #buyItems, .totalamount{
        margin-right: 0!important;
        margin-left: 0!important;
    }
    #buyItems img {
        width: 11%;
    }
}
@media(max-width: 575px){
    .contPadding{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}