/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

html, body{
    overflow-x: clip;
    scroll-behavior: smooth;
}
.body{
    -webkit-box-shadow: inset 0 0 75px 30px rgb(165 165 165 / 75%);
            box-shadow: inset 0 0 75px 30px rgb(165 165 165 / 75%);
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
/*navbutton*/
.navbutton-container{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 110;
    pointer-events: none;
}
.navbutton-grid{
    position: absolute;
    right: 1rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    display: -ms-grid;
    display: grid;
    grid-gap: .7rem;
}
.navbutton{
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: 3px solid #958e8e;
    border-radius: 100%;
    cursor: pointer;
    pointer-events: all;
    position: relative;

}
.navbutton .navlink::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 1px;
    background-color: transparent;
    border-radius: 100%;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
}
.navbutton .navlink:hover::after{
    background-color: #958e8e;
}
.navbutton.active .navlink::after{
    background-color: #958e8e;
}
/*end of navbutton*/

/*Modal Popup*/
#my_modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    z-index: 1111;
    background-color: rgba(0, 0 ,0, .6);
    display: none;
}
.forcontent{
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: white;
}
.forcontent img{
    width: 100%;
}
#show_time{
    position: absolute;
    top: 24px;
    right: 24px;
    color: #fff;
    font-size: 24px;
}
/*end of Modal Popup*/
.our-wine{
    font-family: "BodoniStd";
}
.chato{
    font-family: "Segoe UI Symbol";
    font-size: .9rem;
    line-height: inherit;
}
.gr-vin{
    font-family: "bodonistditalic";
    font-size: .9rem;
}
/*checkout*/
.lari{
    border: none;
    background-color: transparent!important;
    padding: 0;
    display: block;
    font-weight: 400;
}
.forpos{
    position: relative;
    width: 100%;
}
.lari[value]{
    position: absolute;
    color: #212529;
    top: 0;
    right: 20px;
    width: 54px;
    font-size: 1.25rem;
    line-height: inherit;
    font-weight: 500;
    cursor: text;
    text-align: right;
}
.lari-symbol{
    position: absolute;
    top: 0;
    right: 0;
}
.total-padd{
    padding-right: 36px;
}
/*end of checkout*/
.scrolled .lang-backgr{
    background-color: #fff;
}
.nav-transf.scrolled{
    background-color: #fff;
}
.scrolled .nav-link {
    color: rgba(0, 0, 0, 0.55)!important;
}
.shoppingCartButton, .shoppingCartButt{
    cursor: pointer;
    font-size: .9rem;
    -webkit-transition: .35s;
    -o-transition: .35s;
    transition: .35s;
}
.shopping-cart-margin{
    margin-right: 0.5rem;
    margin-top: 0.56rem;
    margin-bottom: 0.52rem;
    padding-top: 0;
    padding-bottom: 0;
}
.shopping-cart{
    /*padding-top: 0.25rem;
    padding-bottom: .2rem;*/
    -webkit-transition: .35s;
    -o-transition: .35s;
    transition: .35s;
}
.scrolled .shopping-cart{
    /*padding-top: 0.25rem;
    padding-bottom: .2rem;*/
    /*background-color: #fff;*/
}
.scrolled .langswitcher a, .scrolled .togglerlangswitcher a, .scrolled .shoppingCartButton, .scrolled .shoppingCartButt, .scrolled .sum-price{
    color: #313233;
}
.togglerlangswitcher a{
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.padd{
    padding-left: 24px;
}
.scrolled #wrapper{
    background-color: #fff;
    -webkit-transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;
    -o-transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;
    transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;
}
.scrolled .line-hist{
    background-color: #313233;
}
.line-hist{
    -webkit-transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;
    -o-transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;
    transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;
}
.scrolled .dropdown-menu{
    background-color: #fff;
}
.scrolled .dropdown-item{
    color:  rgba(0, 0, 0, 0.55);
}
.dropdown-item.active, .dropdown-item:active{
    color: #212529;
    text-decoration: none;
    background-color: #e9ecef;
}
.fixed-top{
    padding: 2.1875rem 0.9375rem;
    pointer-events: none;
}
.lang-switch-ourwines{
    pointer-events: all;
    color: #fff!important;
    padding-left: 0rem;
    padding-right: 0.5rem;
    -webkit-transition: .35s;
    -o-transition: .35s;
    transition: .35s;
}
.dropdown-item{
    padding: 0.1rem 0.5em;
    color: rgba(0, 0, 0, 0.55);
}
.lang-switch{
    pointer-events: all;
    color: #fff!important;
}
.lang-switch-margin{
    margin-right: 0;
    font-size: .9rem;
}
.dropdown-menu{
    font-size: .9rem;
    border: none;
    border-radius: 0;
}
.dropdown-lang{
    pointer-events: all;
    min-width: 0;
}
.dropdown-toggle::before {
    display: inline-block;
    width: .3em;
    height: .3em;
    margin: -.3em 0 0 .4em;
    vertical-align: middle;
    content: "";
    border: .3em solid;
    border-width: 0 .07em .07em 0;
    -webkit-transform: rotateZ(45deg);
        -ms-transform: rotate(45deg);
            transform: rotateZ(45deg);
    font-size: 26px;
    margin-right: 0.3rem;
}
.dropdown-toggle::after {
    display: none;
}

.onl{
    padding: 10px 10px;
    background-color: #4d2a18;
    color: #fff!important;
    pointer-events: all;
}
.parallax-image{
    background-image: url("../img/bg-intern 1.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}
.visiter{
    background: #eceae9;
}
.menu-logo{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.page-logo.hide-2, .wine-logo.hide-3{
    visibility: hidden;
}
.page-logo{
    margin-top: 100px;
}
.logo{
    width: 100%;
}
.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
}
.navbar-light .navbar-toggler-icon{
    background-image: none;
}
#wrapper{
    display:inline-block;
    position: relative;
    cursor:pointer;
    z-index: 11;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
 #wrapper.active{
    background-color: transparent!important;
}

.line{
    position: absolute;
    height: 4px;
    width: 60%;
    background: #fff;
    -webkit-transform: translate3d(-86.5%, 0, 0);
            transform: translate3d(-86.5%, 0, 0);
}
.nav-toggler-hover{
    pointer-events: all;
}
.nav-toggler-hover:hover #line{
}
.icon.close .line{
    background-color: #fff;
}
.icon.close:hover #line{
    background-color: #fff;
}
.icon.close .lang-switch{
    color: #fff!important;
    background-color: transparent;
}
.icon.close:hover .lang-switch{
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.5;
    text-shadow: none;
}

.close:hover {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 1;
}
.top {
    top:23%;
}
.middle {
    top:46.1%;
}
.bottom {
    top:68.3%;
}
.icon.close .top {  
    top:48%;
    -webkit-transform: translate3d(-86.5%, 0, 0) rotate(45deg);
            transform: translate3d(-86.5%, 0, 0) rotate(45deg);
    opacity: 1;
}
.icon.close .middle, .icon.close .bottom {
    top:48%;
    -webkit-transform: translate3d(-86.5%, 0, 0) rotate(-45deg);
            transform: translate3d(-86.5%, 0, 0) rotate(-45deg);
    opacity: 1;
    z-index: 1;
}
.fullscreen-content{
    pointer-events: auto;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
}
.fullscreen-content.open{
    pointer-events: auto;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 1;
    text-align: center;
    overflow-y: auto;
}
.fullscreen-content.open .full-logo-link{
    pointer-events: none;
}
.fullscreen-content.open .full-logo{
    pointer-events: all;
}
.fullscreen-content.open ul{
    position: absolute;
    top: 8%;
}
.fullscreen-content ul li a{
    display: block;
    font-family: "BodoniStd";
    font-size: 16px;
    color: #ede9e1;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    line-height: 2.5;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.fullscreen-content ul li a:hover{
    color: #b5b5b5;
}
.fullscreen-content .contact {
    font-family: "Segoe UI Symbol";
    font-size: 13px;
}
.fullscreen-content .contacts {
        margin-top: 20px;
}
.fullscreen-content .full-logo{
    width: 56%;
    margin-top: 22px;
    opacity: .5;
}
.fullscreen-content .fa-twit-inst {
        margin: 15px 88px;
    }
/*.fullscreen-content .fa-twit-inst {
    margin: 15px 139px;
}*/
.fullscreen-content .dash{
    margin-top: 6px;
}
.open .story{
    margin-top: 66px;
    opacity: 0;
    -webkit-animation: fadeinRight .5s ease forwards;
            animation: fadeinRight .5s ease forwards;
    -webkit-animation-delay: .35s;
            animation-delay: .35s;
}
.open .glimpse{
    opacity: 0;
    -webkit-animation: fadeinRight .5s ease forwards;
            animation: fadeinRight .5s ease forwards;
    -webkit-animation-delay: .4s;
            animation-delay: .4s;
}
.open .vineyard{
    opacity: 0;
    -webkit-animation: fadeinRight .5s ease forwards;
            animation: fadeinRight .5s ease forwards;
    -webkit-animation-delay: .435s;
            animation-delay: .435s;
}
.open .wines-content{
    opacity: 0;
    -webkit-animation: fadeinRight .5s ease forwards;
            animation: fadeinRight .5s ease forwards;
    -webkit-animation-delay: .5s;
            animation-delay: .5s;
}
.open .winesto, .open .storyof, .open .legends, .open .tableof, .open .glimpseof, .open .vineyardof, .visitof, .contactof{
    text-decoration: underline;
    text-underline-offset: 2px;
}
.open .dash{
    opacity: 0;
    -webkit-animation: fadeinRight .5s ease forwards;
            animation: fadeinRight .5s ease forwards;
    -webkit-animation-delay: .35s;
            animation-delay: .35s;
}
.open .tablede{
    opacity: 0;
    -webkit-animation: fadeinRight .5s ease forwards;
            animation: fadeinRight .5s ease forwards;
    -webkit-animation-delay: .45s;
            animation-delay: .45s;
}
.open .visiting{
    opacity: 0;
    -webkit-animation: fadeinRight .5s ease forwards;
            animation: fadeinRight .5s ease forwards;
    -webkit-animation-delay: .45s;
            animation-delay: .45s;
}
.open .contacts{
    opacity: 0;
    -webkit-animation: fadeinRight .5s ease forwards;
            animation: fadeinRight .5s ease forwards;
    -webkit-animation-delay: .35s;
            animation-delay: .35s;
}
.open .news{
    opacity: 0;
    -webkit-animation: fadeinRight .5s ease forwards;
            animation: fadeinRight .5s ease forwards;
    -webkit-animation-delay: .35s;
            animation-delay: .35s;
}
.open .facebook{
    opacity: 0;
    -webkit-animation: fadeinRight .5s ease forwards;
            animation: fadeinRight .5s ease forwards;
    -webkit-animation-delay: .35s;
            animation-delay: .35s;
}
.open .twitter{
    opacity: 0;
    -webkit-animation: fadeinRight .5s ease forwards;
            animation: fadeinRight .5s ease forwards;
    -webkit-animation-delay: .4s;
            animation-delay: .4s;
}
.open .instagram{
    opacity: 0;
    -webkit-animation: fadeinRight .5s ease forwards;
            animation: fadeinRight .5s ease forwards;
    -webkit-animation-delay: .45s;
            animation-delay: .45s;
}
@-webkit-keyframes fadeinRight{
    from{
        -webkit-transform: translateX(200px);
                transform: translateX(200px);
    }
    to{
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
}
@keyframes fadeinRight{
    from{
        -webkit-transform: translateX(200px);
                transform: translateX(200px);
    }
    to{
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
}
.fullscreen{
    pointer-events: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 100%;
    left: 0;
    background-color: #1e1e1e;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    opacity: 0;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.fullscreen ul li a{
    color: rgba(0, 0, 0, 0);
}
.fullscreen.show{
    pointer-events: auto;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #1e1e1e;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 1;
    opacity: .9;
    overflow-y: auto;
}
.full-logo{
    width: 100%;
    margin-top: 43px;
}
.all{
    margin-top: 120px;
}
.dash{
    margin-top: 10px;
}
.contacts{
    margin-top: 65px;
}
.fa-twit-inst{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.fullscreen.show .fa-twit-inst{
    margin: 34px 53px
}
.fullscreen.show ul li a.contact{
    font-size: 15px;
}
.fullscreen.show ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.fullscreen.show ul li{
    display: block;
    width: 100%;
}
.fullscreen.show ul li a{
    display: block;
    font-size: 26px;
    color: #ede9e1;
    text-align: center;
    letter-spacing: 5px;
    text-decoration: none;
}
.fullscreen.show ul li a:hover{
    color: #ede9e1;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}
/*end of fullscreen*/

.menu-gallery{
    margin-top: 100px;
}
.image{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.logo, .menu{
    width: 100%;
}
.menu-h{
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: 1;
    -webkit-transition: background-color 1s linear;
    -o-transition: background-color 1s linear;
    transition: background-color 1s linear;
    background-color: rgba(0,0,0,.7);
}
.menu-h:hover{
    background-color: rgba(0,0,0,0);
}
.menu-h-h5{
    text-align: center;
    font-family: "Segoe UI Symbol";
    font-size: 1rem;
    color: rgba(255, 255, 255, 1);
    letter-spacing: .05em;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.hist-logo{
    width: 100%;
}
.history-img-1{
    width: 100%;
}
.history-img{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.history-logo {
    position: absolute;
    width: 18%;
    z-index: 11;
    margin-left: 50%;
    margin-top: 10%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
.hist-img{
    width: 100%;
    opacity: .5;
}
.text{
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 23%;
    z-index: 1;
    background-color: rgba(255,255,255,.6);
    text-align: center;
    color: #927850;
    margin-top: 37%;
    padding: 8rem 23rem;
}
.text-h{
    font-family: "BodoniStd";
    font-size: 1.5rem;
}
.text-p{
    font-family: "Segoe UI Symbol";
    font-size: .95rem;
    color: #757067;
}
.text1-1{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.text-1{
    max-width: 800px;
}
.text1{
    background-color: rgba(255,255,255,.6);
    text-align: center;
    color: #927850;
    margin-top: 94px;
    margin-bottom: 94px;
}
.text1 h6{
    font-family: "Segoe UI Symbol";
    font-size: .8rem;
    letter-spacing: .1em;
    color: #757067;
}
.text1-h4{
    font-family: "BodoniStd";
    margin-top: 1.5rem;
}
.text1-p{
    font-family: 'Segoe UI Symbol';
    text-align: justify;
    margin-top: 24px;
    font-size: .9rem;
    color: #757067;
}

/*anim on scroll*/
.reveal{
    -webkit-transform: translateY(200px);
        -ms-transform: translateY(200px);
            transform: translateY(200px);
    opacity: 0;
    -webkit-transition: all ease 1s;
    -o-transition: all ease 1s;
    transition: all ease 1s;
}
.reveal.active{
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
}
/*end of anim on scroll*/


.wine-logo{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 11;
    margin-top: 66px;
}

.wine-text{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 11;
    margin-top: 76px;
}
.wine-bottles{
    max-width: 424px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
/*.wines{
    max-width: 424px;
}*/
.wine-bottle{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 11;
    margin-top: 30%;
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}
.wine-bottle:hover{
    opacity: .5;
}
.opacity-1, .opacity-2{
    opacity: .5;
}
.wine-bottle.opacity-1:hover{
    opacity: .3;
}
.wine-bottle.opacity-2:hover{
    opacity: .3;
}
.bottle, .bottle-1, .bottle-2{
    width: 100%;
    height: 100%;
}
.wine-present{
    background-color: #313233;
}
.wine-text-bottle{
    max-width: 404px;
    padding-top: 1.125rem;
    /*display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;*/
    z-index: 1111;
}
.wine-text-bottle-1{
    max-width: 780px;
    padding-top: 1.875rem;
    padding-bottom: 1.5rem;
    /*display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;*/
    z-index: 1111;
}
.backcolor{
    /*display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;*/
    z-index: 1111;
    background-color: #313233;
}
.wine-bottle-text{
    text-align: center;
    text-decoration: none;
    color: #ede9e1;
    /* background-color for tv browser */
    background-color: #313233!important;
    cursor: pointer;
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}
.amiral{
    position: relative;
    text-align: center;
    text-decoration: none;
    color: #ede9e1;
    cursor: auto;
}
.close-page{
    position: absolute;
    top: 0;
    right: 0;
}
.amiral h4{
    font-family: "Segoe UI Symbol";
    font-size: 1.3rem;
    color: #d0ccc6;
    letter-spacing: .1em;
}
.amiral h6{
    font-family: "bodonistditalic";
    color: #d0ccc6;
}
.amiral ul{
    text-align: left;
    font-size: 10px;
    padding-right: 14rem;
    padding-left: 14rem;
}
.amiral p{
    font-family: "Segoe UI Symbol";
    text-align: justify;
    font-size: 0.9375rem;
    color: #d0ccc6;
}
.down-arrow{
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}
.wine-bottle-text:hover .down-arrow{
    opacity: .5;
}
.bottle-col a:hover{
    color: rgba(237, 233, 225, .5);
}
.wine-bottle-text-1 a{
    text-decoration: none;
    color: #ede9e1;
}
.bg-table01{
    width: 100%;
}
.marani{
    width: 100%;
    padding-top: 17px;
}
.marani1{
    width: 100%;
}
.btn-primary{
    background-color: #614e35;
    border-color: rgba(0,0,0,0);
    border-radius: 0;
}
.btn-primary:hover{
    background-color: #614e35;
    border-color: rgba(0,0,0,0);
    color: #d0ccc6;
}
.btn-primary:active{
    background-color: #4a3c29!important;
    border-color: #4a3c29!important;
    color: #d0ccc6!important;
}
.btn-check:focus + .btn-primary, .btn-primary:focus{
    color: #d0ccc6;
    background-color: #614e35;
    border-color: #614e35;
    -webkit-box-shadow: none!important;
            box-shadow: none!important;
    outline: none!important;
}
.btn{
    display: inline-block;
    font-weight: 400;
    font-family: "BodoniStdBold";
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;
    padding: 0.2rem 0.75rem;
    font-size: 1rem;
    color: #d0ccc6;
}
.btncheck{
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    width: 100%;
}
.hideme{
    display: none;
    background-color: #fff;
}
.hideme-width ul, .hideme-width p{
    font-size: 0.875rem;
    color: #757067;
}
.hideme-width{
    position: relative;
    max-width: 800px;
}
.cost{
    font-size: 1rem;
    color: #757067;
    font-weight: bold;
}
.badge{
    padding: .25em .5em;
}
.radioimg{
    margin-top: 7px;
}
.tbc{
    width: 37px!important;
}
.visa{
    width: 7%;
}
.master{
    width: 7%;
}
.tbc-master img{
    width: 50px;
    max-height: 42px;
    margin-left: 6px;
}
.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
}
.wine-order{
    width: 17%;
}
.order1{
    width: 100%;
}
.amount, .totalamount{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: #f7f7f7;
    padding: 11px 11px 9px 11px;
    border: #e3e3e3 solid 1px;
}
.wines1{
    width: 100%;
}
.wines1-back{
    background-color: rgba(49,50,51,1);
    padding-top: 47px;
    padding-bottom: 20px;
}
.wines1-back p{
    color: #fff;
}
.wines1-text{
    max-width: 800px;
}
@media(max-width: 1280px){
    .history-logo{
        width: 21%;
        margin-top: 10%;
    }
    .fullscreen-content.open ul {
        position: absolute;
        top: 8%;
        bottom: -18%;
    }
    .text {
        width: 100%;
        height: 15%;
        text-align: center;
        color: #927850;
        margin-top: 37%;
        padding: 6rem 10rem;
    }
    .open .story {
        margin-top: 68px;
    }
}
@media(max-width: 991px){
    .payment{
        margin-top: 4rem;
    }
    .history-logo {
        width: 26%;
        margin-top: 14%;
    }
    /*.wines {
        max-width: 400px;
    }*/
    .bottle-txt {
        --bs-gutter-x: 1.5rem;
    }
}
@media(max-width: 900px){
    .text {
        width: 100%;
        height: 15%;
        text-align: center;
        color: #927850;
        margin-top: 37%;
        padding: 9vw 10vw;
    }
    .text-h{
        font-size: 2.22vw;
        padding-bottom: 0!important;
    }
    .text-p{
        font-size: 1.3vw;
    }
}
@media(min-width: 768px){
    .texthidefrom767{
        display: none;
    }
}
@media(max-width: 767px){
    .text{
        display: none;
    }
    .latable-text{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .latable-text-1 {
        width: auto;
        max-width: 660px;
        font-size: .9rem;
        padding: 71px 27px;
        text-align: center;
        color: #757067;
    }
    .latable-text-1 h3{
        font-family: "BodoniStd";
        font-size: 1.33rem;
        letter-spacing: .1em;
        color: #927850;
    }
    .latable-text-1 p{
        font-family: 'Segoe UI Symbol';
    }
    .navbutton-container{
        display: none;
    }
    .history-logo {
        width: 33%;
        margin-top: 17%;
    }
    .fullscreen-content .full-logo {
        margin-top: 22px;
    }
    .fullscreen-content ul li a {
        /*font-size: 16px;*/
        letter-spacing: 1px;
        text-decoration: none;
        line-height: 2.5;
    }
    .open .story {
        margin-top: 48px;
    }
    .fullscreen-content .contacts {
        margin-top: 1px;
    }
    .fullscreen-content .fa-twit-inst li a{
        font-size: .9rem;
    }
}
@media(max-width: 630px){
    .wine-bottles{
        max-width: 300px;
        margin-top: 0.0625rem;
    }
    .wine-text-bottle{
        max-width: 300px;
    }
    .chato, .gr-vin{
        font-size: .8rem;
    }
}
@media(max-width: 480px){
    .fixed-top {
        padding: 2.1875rem 0;
    }
    .history-logo {
        width: 52%;
        margin-top: 21%;
    }
    .open .story{
        margin-top: 72px;
    }
    .open ul li a{
        padding: 0 2px;
    }
    .fullscreen-content .full-logo{
        width: 40%;
        -webkit-transform: translateY(35px);
            -ms-transform: translateY(35px);
                transform: translateY(35px);
    }
    #wrapper, .scrolled #wrapper{
        -webkit-transform: scale(.8) translate(-8px);
            -ms-transform: scale(.8) translate(-8px);
                transform: scale(.8) translate(-8px);
        -webkit-transform-origin: top;
            -ms-transform-origin: top;
                transform-origin: top;
    }
    .dropdown, .scrolled .dropdown, .dropdown-menu, .scrolled .dropdown-menu{
        -webkit-transform: scale(.8) translateY(4px);
            -ms-transform: scale(.8) translateY(4px);
                transform: scale(.8) translateY(4px);
        -webkit-transform-origin: top;
            -ms-transform-origin: top;
                transform-origin: top;
    }
    .shopping-cart, .scrolled .shopping-cart {
       -webkit-transform: scale(.8) translate(-15px, 3px);
           -ms-transform: scale(.8) translate(-15px, 3px);
               transform: scale(.8) translate(-15px, 3px);
       -webkit-transform-origin: top;
           -ms-transform-origin: top;
               transform-origin: top;
               padding-left: 6px;
               margin-right: -13px;
    }
    .shopping-cart-margin {
        margin-right: 0.5rem;
        margin-top: 0.54rem;
        margin-bottom: 0.53rem;
        padding-top: 0;
        padding-bottom: 0;
    }
    .nav-transf, .nav-transf.scrolled{
        -webkit-transform: scale(.8) translateX(13px);
            -ms-transform: scale(.8) translateX(13px);
                transform: scale(.8) translateX(13px);
    }
    .burger{
        -webkit-box-align: start!important;
            -ms-flex-align: start!important;
                align-items: flex-start!important;
    }
}
@media(max-width: 428px){
    .fullscreen-content ul li a {
        font-size: 11.2px;
    }
    .fullscreen-content .contact {
        font-family: "Segoe UI Symbol";
        font-size: 10px;
    }
}
@media(max-width: 408px){
    /*.open .story{
        margin-top: 72px;
    }
    .open ul li a{
        padding: 0 2px;
    }*/
    /*.fullscreen-content .full-logo{
        width: 40%;
        -webkit-transform: translateY(35px);
            -ms-transform: translateY(35px);
                transform: translateY(35px);
    }
    #wrapper, .scrolled #wrapper{
        -webkit-transform: scale(.8) translate(-8px);
            -ms-transform: scale(.8) translate(-8px);
                transform: scale(.8) translate(-8px);
        -webkit-transform-origin: top;
            -ms-transform-origin: top;
                transform-origin: top;
    }
    .dropdown, .scrolled .dropdown, .dropdown-menu, .scrolled .dropdown-menu{
        -webkit-transform: scale(.8) translateY(4px);
            -ms-transform: scale(.8) translateY(4px);
                transform: scale(.8) translateY(4px);
        -webkit-transform-origin: top;
            -ms-transform-origin: top;
                transform-origin: top;
    }
    .shopping-cart, .scrolled .shopping-cart {
       -webkit-transform: scale(.8) translate(-15px, 3px);
           -ms-transform: scale(.8) translate(-15px, 3px);
               transform: scale(.8) translate(-15px, 3px);
       -webkit-transform-origin: top;
           -ms-transform-origin: top;
               transform-origin: top;
               padding-left: 6px;
               margin-right: -13px;
    }
    .shopping-cart-margin {
        margin-right: 0.5rem;
        margin-top: 0.54rem;
        margin-bottom: 0.53rem;
        padding-top: 0;
        padding-bottom: 0;
    }
    .nav-transf, .nav-transf.scrolled{
        -webkit-transform: scale(.8) translateX(13px);
            -ms-transform: scale(.8) translateX(13px);
                transform: scale(.8) translateX(13px);
    }
    .burger{
        -webkit-box-align: start!important;
            -ms-flex-align: start!important;
                align-items: flex-start!important;
    }*/
}
@media(max-width: 360px){
    .fullscreen-content .fa-twit-inst{
         margin: 15px 88px;
    }
    .open ul li a{
        line-height: inherit;
        padding: 7px 2px;
    }
    .open .story, .open .glimpse, .open .vineyard, .open .wines-content, .open .tablede, .open .visiting, .open .contacts{
            padding: 0 10px;
    }
}
@media(max-width: 341px){
    .fullscreen-content .full-logo{
        -webkit-transform: translateY(50px);
            -ms-transform: translateY(50px);
                transform: translateY(50px);
    }
}
@media(max-width: 327px){
    .fullscreen-content .full-logo{
        -webkit-transform: translateY(40px);
            -ms-transform: translateY(40px);
                transform: translateY(40px);
    }
}