/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.wine-logo-1{
    position: absolute;
    top: 15%;
    left: 50%;
    width: 18%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 11;
}
.logotype{
	width: 100%;
}
.bg-table-col{
	position: relative;
}
.text-bg-table{
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 15%;
    z-index: 1;
    background-color: rgba(255,255,255,.8);
    text-align: center;
    color: #778889;
    padding: 5rem 23rem;
    top: 46%;
}
.text-bg-table p{
	font-size: 1.37rem;
	font-family: BodoniStd-Italic;
	font-style: italic;
	font-weight: 600;
}
.slide-top{
	position: relative;
}
.info-block{
	position: relative;
	z-index: 0;
	background-color: #1e2828;
	padding: 1.5%;
	bottom: 0;
}
.toggle-parent {
    width: 100%;
    display: block;
    text-align: center;
}
.toggleHolder{
	margin-top: -1%;
}
.toggleHolder span.btn-click {
    width: 100%;
    color: #d4b261;
    text-transform: uppercase;
    text-align: center;
    font-size: 0.8125rem;
    line-height: 16px;
    letter-spacing: .06em;
    font-family: "Segoe UI Symbol";
    font-weight: 700;
    display: inline-block;
}
.toggleHolder span.btn-click-open {
    color: #fff;
    display: none;
}
.img-top{
	margin-top: 1%;
}
.img-top-1{
	padding-top: 1%;
}
.img-bottom{
	padding-top: 1%;
}
.img-bottom-1{
	margin-top: 1%;
}
.toggled-content{
	color: #fff;
	display: none;
	text-align: left;
	font-size: 0.875rem;
}
.toggled-content h2{
	font-family: "BodoniStd";
	font-size: 1.1rem;
	color: #d4b261;
}
.wineSpec h3{
	font-family: "Segoe UI Symbol";
	font-size: 1rem;
}
.wineSpec h4{
	font-family: "Segoe UI Symbol";
	font-size: .8rem;
	color: #d4b261;
}
.wineSpec a{
	color: #fff;
}
.winebtn{
	margin-bottom: 20px;
}
.hideme-1{
	display: none;
  	background-color: #313233;
  	color: #fff;
  	position: absolute;
  	bottom:0;
  	z-index: 111111;
}
.button-details{
	color: #fff;
}
.dropuptoggler{
	position: relative;
}
.dropuptoggler:focus{
	-webkit-box-shadow: none;
	        box-shadow: none;
}

.latable, .latable-slide02, .latable-slide04, .latable-slide06{
	width: 100%;
}
.latable-text{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.latable-text-div, .latable-text-div-1, .latable-text-div-2{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.latable-text-1{
    max-width: 660px;
    font-size: .9rem;
    padding: 0 8px;
    text-align: center;
    color: #757067;
}
.latable-text-sld{
	max-width: 660px;
    font-size: .9rem;
    padding: 0 27px;
    text-align: center;
    color: #757067;
    font-style: italic;
}
.latable-text-sld5, .latable-text-sld07{
	max-width: 660px;
    font-size: .9rem;
    padding: 0 27px;
    text-align: center;
    color: #757067;
}
@media(max-width: 1400px){
	.latable-text-1, .latable-text-sld5, .latable-text-sld, .latable-text-sld07{
	    font-size: .9rem;
	    padding: 0 49px;
	}
}
@media(max-width: 1280px){
	.text-bg-table {
	    width: 100%;
	    height: 15%;
	    text-align: center;
	    color: #778889;
	    padding: 4.7rem 10rem;
	    top: 48%;
	}
	.discmarg{
		margin-top: -6px;
	}
	.wine-logo-1 {
	    top: 15%;
	    width: 23%;
	}
}
@media(max-width: 1024px){
	.closemarg{
		margin-top: -6px;
	}
}
@media(max-width: 900px){
	.text-bg-table{
    	padding: 8vw 10vw;
	}
	.text-bg-table p{
		font-size: 2vw;
	}
	.toggleHolder span.btn-click {
	    font-size: 13px;
	    line-height: 13px;
	}
	.latable-text-1, .latable-text-sld5, .latable-text-sld, .latable-text-sld07{
	    font-size: .8rem;
	    padding: 0 49px;
	}
}
@media(max-width: 774px){
	.latable-text-1, .latable-text-sld5, .latable-text-sld, .latable-text-sld07{
	    font-size: .8rem;
	    padding: 0 39px;
	}
}
@media(min-width: 768px){
	.texthidefrom767{
		display: none;
	}
}
@media(max-width: 767px){
	.wine-logo-1{
	    position: absolute;
	    top: 17%;
	    width: 26%;
	}
	.text-enter{
		font-size: 1.25rem;
    	font-family: BodoniStd-Italic!important;
    	font-style: italic;
    	font-weight: 600;
	}
	.hidetable{
		display: none;
	}
	.medoc{
		display: none;
	}
	.latable-text-1, .latable-text-sld, .latable-text-sld5, .latable-text-sld07{
	    padding: 71px 27px;
	}
}
@media(max-width: 500px){
	.text-bg-table {
	    padding: 7vw 10vw;
	    top: 44%;
	}
	.toggleHolder span.btn-click {
	    font-size: 0.5625rem;
	    line-height: 10px;
	}
	.btn-click-open{
		-webkit-transform: translateY(3px);
		    -ms-transform: translateY(3px);
		        transform: translateY(3px);
	}
	.discmarg{
		margin-top: 0;
	}
	.img-top{
		-webkit-transform: translateY(2px);
		    -ms-transform: translateY(2px);
		        transform: translateY(2px);
	}
	.img-top-1 {
	    padding-top: 2%;
	}
}
@media(max-width: 480px){
	.wine-logo-1 {
	    position: absolute;
	    top: 24%;
	    width: 41%;
	}
.overlay{
	    position: absolute;
	    top: 30%;
	    left: 46%;
	    width: 30%;
	    height: 13%;
	    -webkit-transform: translate(-33%, -19%);
	        -ms-transform: translate(-33%, -19%);
	            transform: translate(-33%, -19%);
	    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, .7)), to(rgba(255, 255, 255, .7)));
	    background-image: -o-linear-gradient(rgba(255, 255, 255, .7), rgba(255, 255, 255, .7));
	    background-image: linear-gradient(rgba(255, 255, 255, .7), rgba(255, 255, 255, .7));
	    /*mix-blend-mode: color-dodge;*/
    	-webkit-filter: blur(30px);
    	        filter: blur(30px);
	}
	.toggled-content h2{
		font-size: 3.7vw;
	}
	.wineSpec h3{
		font-size: 3.3vw;
	}
	.toggled-content{
		font-size: 2.9vw;
	}
	.wineSpec h4{
		font-size: 2.6vw;
	}
}